/* Styles généraux */
.about-page {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f7f7f7;
    color:#004aad;
  }
  
  /* Section Intro */
  .about-intro {
    background-color: #fff;
    padding: 80px 20px;
    text-align: center;
    color:#004aad;
  }
  
  .about-intro h1 {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .about-intro p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Section Mission */
  .mission {
    padding: 120px 10px;
    background-color: #fff;
    text-align: center;
    color:#004aad;
  }
  
  .mission h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .mission p {
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
  }
  
  /* Section Équipe */
  .team {
    padding: 60px 20px;
    text-align: center;
  }
  
  .team h2 {
    font-size: 36px;
    margin-bottom: 40px;
    
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    
  }
  
  .team-member {
    background-color: #fff;
    width: 250px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    
  }
  
  .team-member img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  
  .team-member h4 {
    font-size: 22px;
    color:#004aad;
  }
  
  .team-member p {
    font-size: 16px;
    color:#004aad;
  }
  
  .team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  /* Responsivité */
  @media (max-width: 768px) {
    .team-members {
      flex-direction: column;
      align-items: center;
    }
  
    .team-member {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  